# Lending club case study

In [26]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

#### Data retrieve
Printing the head (5 rows) of the loan csv

In [27]:
# Reading the CSV file from the storage
loan_df = pd.read_csv("loan.csv")

# Printing the head of the CSV
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

#### Shape and number of unique values in each column

In [28]:
# Printing the shape of the dataFrame
print(loan_df.shape)

# Find out how many unique values are available in each column to understand the categorisation possibility
for col in loan_df.columns:
    print("\nFor ", col)
    print(loan_df[col].nunique())

(39717, 111)

For  id
39717

For  member_id
39717

For  loan_amnt
885

For  funded_amnt
1041

For  funded_amnt_inv
8205

For  term
2

For  int_rate
371

For  installment
15383

For  grade
7

For  sub_grade
35

For  emp_title
28820

For  emp_length
11

For  home_ownership
5

For  annual_inc
5318

For  verification_status
3

For  issue_d
55

For  loan_status
3

For  pymnt_plan
1

For  url
39717

For  desc
26527

For  purpose
14

For  title
19615

For  zip_code
823

For  addr_state
50

For  dti
2868

For  delinq_2yrs
11

For  earliest_cr_line
526

For  inq_last_6mths
9

For  mths_since_last_delinq
95

For  mths_since_last_record
111

For  open_acc
40

For  pub_rec
5

For  revol_bal
21711

For  revol_util
1089

For  total_acc
82

For  initial_list_status
1

For  out_prncp
1137

For  out_prncp_inv
1138

For  total_pymnt
37850

For  total_pymnt_inv
37518

For  total_rec_prncp
7976

For  total_rec_int
35148

For  total_rec_late_fee
1356

For  recoveries
4040

For  collection_recovery_fee
2616

For  last_pymnt_d
101

For  last_pymnt_amnt
34930

For  next_pymnt_d
2

For  last_credit_pull_d
106

For  collections_12_mths_ex_med
1

For  mths_since_last_major_derog
0

For  policy_code
1

For  application_type
1

For  annual_inc_joint
0

For  dti_joint
0

For  verification_status_joint
0

For  acc_now_delinq
1

For  tot_coll_amt
0

For  tot_cur_bal
0

For  open_acc_6m
0

For  open_il_6m
0

For  open_il_12m
0

For  open_il_24m
0

For  mths_since_rcnt_il
0

For  total_bal_il
0

For  il_util
0

For  open_rv_12m
0

For  open_rv_24m
0

For  max_bal_bc
0

For  all_util
0

For  total_rev_hi_lim
0

For  inq_fi
0

For  total_cu_tl
0

For  inq_last_12m
0

For  acc_open_past_24mths
0

For  avg_cur_bal
0

For  bc_open_to_buy
0

For  bc_util
0

For  chargeoff_within_12_mths
1

For  delinq_amnt
1

For  mo_sin_old_il_acct
0

For  mo_sin_old_rev_tl_op
0

For  mo_sin_rcnt_rev_tl_op
0

For  mo_sin_rcnt_tl
0

For  mort_acc
0

For  mths_since_recent_bc
0

For  mths_since_recent_bc_dlq
0

For  mths_since_recent_inq
0

For  mths_since_recent_revol_delinq
0

For  num_accts_ever_120_pd
0

For  num_actv_bc_tl
0

For  num_actv_rev_tl
0

For  num_bc_sats
0

For  num_bc_tl
0

For  num_il_tl
0

For  num_op_rev_tl
0

For  num_rev_accts
0

For  num_rev_tl_bal_gt_0
0

For  num_sats
0

For  num_tl_120dpd_2m
0

For  num_tl_30dpd
0

For  num_tl_90g_dpd_24m
0

For  num_tl_op_past_12m
0

For  pct_tl_nvr_dlq
0

For  percent_bc_gt_75
0

For  pub_rec_bankruptcies
3

For  tax_liens
1

For  tot_hi_cred_lim
0

For  total_bal_ex_mort
0

For  total_bc_limit
0

For  total_il_high_credit_limit
0

#### Find out the null value % in each column
Maintain a list of coumns with null % more than 40

In [36]:
# print(100 * loan_df.isnull().mean())
columnsWithMoreThanFortyPercentNullValues = []
for col in loan_df.columns:
    percentage = 100 * loan_df[col].isnull().mean()
    if percentage > 40:
        columnsWithMoreThanFortyPercentNullValues.append(col)
        print(col, "\t:\t", percentage)

print(len(columnsWithMoreThanFortyPercentNullValues))

mths_since_last_delinq 	:	 64.66248709620565
mths_since_last_record 	:	 92.98537150338646
next_pymnt_d 	:	 97.12969257496789
mths_since_last_major_derog 	:	 100.0
annual_inc_joint 	:	 100.0
dti_joint 	:	 100.0
verification_status_joint 	:	 100.0
tot_coll_amt 	:	 100.0
tot_cur_bal 	:	 100.0
open_acc_6m 	:	 100.0
open_il_6m 	:	 100.0
open_il_12m 	:	 100.0
open_il_24m 	:	 100.0
mths_since_rcnt_il 	:	 100.0
total_bal_il 	:	 100.0
il_util 	:	 100.0
open_rv_12m 	:	 100.0
open_rv_24m 	:	 100.0
max_bal_bc 	:	 100.0
all_util 	:	 100.0
total_rev_hi_lim 	:	 100.0
inq_fi 	:	 100.0
total_cu_tl 	:	 100.0
inq_last_12m 	:	 100.0
acc_open_past_24mths 	:	 100.0
avg_cur_bal 	:	 100.0
bc_open_to_buy 	:	 100.0
bc_util 	:	 100.0
mo_sin_old_il_acct 	:	 100.0
mo_sin_old_rev_tl_op 	:	 100.0
mo_sin_rcnt_rev_tl_op 	:	 100.0
mo_sin_rcnt_tl 	:	 100.0
mort_acc 	:	 100.0
mths_since_recent_bc 	:	 100.0
mths_since_recent_bc_dlq 	:	 100.0
mths_since_recent_inq 	:	 100.0
mths_since_recent_revol_delinq 	:	 100.0
num_accts_ever_120_pd 	:	 100.0
num_actv_bc_tl 	:	 100.0
num_actv_rev_tl 	:	 100.0
num_bc_sats 	:	 100.0
num_bc_tl 	:	 100.0
num_il_tl 	:	 100.0
num_op_rev_tl 	:	 100.0
num_rev_accts 	:	 100.0
num_rev_tl_bal_gt_0 	:	 100.0
num_sats 	:	 100.0
num_tl_120dpd_2m 	:	 100.0
num_tl_30dpd 	:	 100.0
num_tl_90g_dpd_24m 	:	 100.0
num_tl_op_past_12m 	:	 100.0
pct_tl_nvr_dlq 	:	 100.0
percent_bc_gt_75 	:	 100.0
tot_hi_cred_lim 	:	 100.0
total_bal_ex_mort 	:	 100.0
total_bc_limit 	:	 100.0
total_il_high_credit_limit 	:	 100.0
57

#### Drop columns with null percentage of more than 40%

In [37]:
loan_df = loan_df.drop(columnsWithMoreThanFortyPercentNullValues, axis=1)
print(loan_df.shape)

(39717, 54)

Recheck the null column with percentage. This time printing all columns with percentage more 0

In [41]:
for col in loan_df.columns:
    percentage = 100 * loan_df[col].isnull().mean()
    if percentage > 0:
        print(col, "\t:\t", percentage)
        
# Find out how many unique values are available in each column to understand the categorisation possibility
for col in loan_df.columns:
    print("\nFor ", col)
    print(loan_df[col].nunique())
        
loan_df.head()

emp_title 	:	 6.191303472064859
emp_length 	:	 2.7066495455346575
desc 	:	 32.58050708764509
title 	:	 0.027695948838029054
revol_util 	:	 0.12589067653649572
last_pymnt_d 	:	 0.1787647606818239
last_credit_pull_d 	:	 0.0050356270614598285
collections_12_mths_ex_med 	:	 0.1409975577208752
chargeoff_within_12_mths 	:	 0.1409975577208752
pub_rec_bankruptcies 	:	 1.7549160309187504
tax_liens 	:	 0.09819472769846666

For  id
39717

For  member_id
39717

For  loan_amnt
885

For  funded_amnt
1041

For  funded_amnt_inv
8205

For  term
2

For  int_rate
371

For  installment
15383

For  grade
7

For  sub_grade
35

For  emp_title
28820

For  emp_length
11

For  home_ownership
5

For  annual_inc
5318

For  verification_status
3

For  issue_d
55

For  loan_status
3

For  pymnt_plan
1

For  url
39717

For  desc
26527

For  purpose
14

For  title
19615

For  zip_code
823

For  addr_state
50

For  dti
2868

For  delinq_2yrs
11

For  earliest_cr_line
526

For  inq_last_6mths
9

For  open_acc
40

For  pub_rec
5

For  revol_bal
21711

For  revol_util
1089

For  total_acc
82

For  initial_list_status
1

For  out_prncp
1137

For  out_prncp_inv
1138

For  total_pymnt
37850

For  total_pymnt_inv
37518

For  total_rec_prncp
7976

For  total_rec_int
35148

For  total_rec_late_fee
1356

For  recoveries
4040

For  collection_recovery_fee
2616

For  last_pymnt_d
101

For  last_pymnt_amnt
34930

For  last_credit_pull_d
106

For  collections_12_mths_ex_med
1

For  policy_code
1

For  application_type
1

For  acc_now_delinq
1

For  chargeoff_within_12_mths
1

For  delinq_amnt
1

For  pub_rec_bankruptcies
3

For  tax_liens
1

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0