# Lending club case study

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 100)

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

#### Data retrieve
Printing the head (5 rows) of the loan csv

In [2]:
# Reading the CSV file from the storage
loan_df = pd.read_csv("loan.csv")

# Printing the head of the CSV
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

#### Shape and number of unique values in each column

In [24]:
# Printing the shape of the dataFrame
print(loan_df.shape)

# Find out how many unique values are available in each column to understand the categorisation possibility
for col in loan_df.columns:
    print("\nFor ", col)
    print(loan_df[col].nunique())

(39717, 111)

For  id
39717

For  member_id
39717

For  loan_amnt
885

For  funded_amnt
1041

For  funded_amnt_inv
8205

For  term
2

For  int_rate
371

For  installment
15383

For  grade
7

For  sub_grade
35

For  emp_title
28820

For  emp_length
11

For  home_ownership
5

For  annual_inc
5318

For  verification_status
3

For  issue_d
55

For  loan_status
3

For  pymnt_plan
1

For  url
39717

For  desc
26527

For  purpose
14

For  title
19615

For  zip_code
823

For  addr_state
50

For  dti
2868

For  delinq_2yrs
11

For  earliest_cr_line
526

For  inq_last_6mths
9

For  mths_since_last_delinq
95

For  mths_since_last_record
111

For  open_acc
40

For  pub_rec
5

For  revol_bal
21711

For  revol_util
1089

For  total_acc
82

For  initial_list_status
1

For  out_prncp
1137

For  out_prncp_inv
1138

For  total_pymnt
37850

For  total_pymnt_inv
37518

For  total_rec_prncp
7976

For  total_rec_int
35148

For  total_rec_late_fee
1356

For  recoveries
4040

For  collection_recovery_fee
2616

For  last_pymnt_d
101

For  last_pymnt_amnt
34930

For  next_pymnt_d
2

For  last_credit_pull_d
106

For  collections_12_mths_ex_med
1

For  mths_since_last_major_derog
0

For  policy_code
1

For  application_type
1

For  annual_inc_joint
0

For  dti_joint
0

For  verification_status_joint
0

For  acc_now_delinq
1

For  tot_coll_amt
0

For  tot_cur_bal
0

For  open_acc_6m
0

For  open_il_6m
0

For  open_il_12m
0

For  open_il_24m
0

For  mths_since_rcnt_il
0

For  total_bal_il
0

For  il_util
0

For  open_rv_12m
0

For  open_rv_24m
0

For  max_bal_bc
0

For  all_util
0

For  total_rev_hi_lim
0

For  inq_fi
0

For  total_cu_tl
0

For  inq_last_12m
0

For  acc_open_past_24mths
0

For  avg_cur_bal
0

For  bc_open_to_buy
0

For  bc_util
0

For  chargeoff_within_12_mths
1

For  delinq_amnt
1

For  mo_sin_old_il_acct
0

For  mo_sin_old_rev_tl_op
0

For  mo_sin_rcnt_rev_tl_op
0

For  mo_sin_rcnt_tl
0

For  mort_acc
0

For  mths_since_recent_bc
0

For  mths_since_recent_bc_dlq
0

For  mths_since_recent_inq
0

For  mths_since_recent_revol_delinq
0

For  num_accts_ever_120_pd
0

For  num_actv_bc_tl
0

For  num_actv_rev_tl
0

For  num_bc_sats
0

For  num_bc_tl
0

For  num_il_tl
0

For  num_op_rev_tl
0

For  num_rev_accts
0

For  num_rev_tl_bal_gt_0
0

For  num_sats
0

For  num_tl_120dpd_2m
0

For  num_tl_30dpd
0

For  num_tl_90g_dpd_24m
0

For  num_tl_op_past_12m
0

For  pct_tl_nvr_dlq
0

For  percent_bc_gt_75
0

For  pub_rec_bankruptcies
3

For  tax_liens
1

For  tot_hi_cred_lim
0

For  total_bal_ex_mort
0

For  total_bc_limit
0

For  total_il_high_credit_limit
0

#### Find out the null value % in each column
Maintain a list of coumns with null % more than 40

In [25]:
# print(100 * loan_df.isnull().mean())
columnsWithMoreThanFortyPercentNullValues = []
for col in loan_df.columns:
    percentage = 100 * loan_df[col].isnull().mean()
    if percentage > 40:
        columnsWithMoreThanFortyPercentNullValues.append(col)
        print(col, "\t:\t", percentage)

print(len(columnsWithMoreThanFortyPercentNullValues))

mths_since_last_delinq 	:	 64.66248709620565
mths_since_last_record 	:	 92.98537150338646
next_pymnt_d 	:	 97.12969257496789
mths_since_last_major_derog 	:	 100.0
annual_inc_joint 	:	 100.0
dti_joint 	:	 100.0
verification_status_joint 	:	 100.0
tot_coll_amt 	:	 100.0
tot_cur_bal 	:	 100.0
open_acc_6m 	:	 100.0
open_il_6m 	:	 100.0
open_il_12m 	:	 100.0
open_il_24m 	:	 100.0
mths_since_rcnt_il 	:	 100.0
total_bal_il 	:	 100.0
il_util 	:	 100.0
open_rv_12m 	:	 100.0
open_rv_24m 	:	 100.0
max_bal_bc 	:	 100.0
all_util 	:	 100.0
total_rev_hi_lim 	:	 100.0
inq_fi 	:	 100.0
total_cu_tl 	:	 100.0
inq_last_12m 	:	 100.0
acc_open_past_24mths 	:	 100.0
avg_cur_bal 	:	 100.0
bc_open_to_buy 	:	 100.0
bc_util 	:	 100.0
mo_sin_old_il_acct 	:	 100.0
mo_sin_old_rev_tl_op 	:	 100.0
mo_sin_rcnt_rev_tl_op 	:	 100.0
mo_sin_rcnt_tl 	:	 100.0
mort_acc 	:	 100.0
mths_since_recent_bc 	:	 100.0
mths_since_recent_bc_dlq 	:	 100.0
mths_since_recent_inq 	:	 100.0
mths_since_recent_revol_delinq 	:	 100.0
num_accts_ever_120_pd 	:	 100.0
num_actv_bc_tl 	:	 100.0
num_actv_rev_tl 	:	 100.0
num_bc_sats 	:	 100.0
num_bc_tl 	:	 100.0
num_il_tl 	:	 100.0
num_op_rev_tl 	:	 100.0
num_rev_accts 	:	 100.0
num_rev_tl_bal_gt_0 	:	 100.0
num_sats 	:	 100.0
num_tl_120dpd_2m 	:	 100.0
num_tl_30dpd 	:	 100.0
num_tl_90g_dpd_24m 	:	 100.0
num_tl_op_past_12m 	:	 100.0
pct_tl_nvr_dlq 	:	 100.0
percent_bc_gt_75 	:	 100.0
tot_hi_cred_lim 	:	 100.0
total_bal_ex_mort 	:	 100.0
total_bc_limit 	:	 100.0
total_il_high_credit_limit 	:	 100.0
57

#### Drop columns with null percentage of more than 40%

In [26]:
loan_df = loan_df.drop(columnsWithMoreThanFortyPercentNullValues, axis=1)
print(loan_df.shape)

(39717, 54)

Recheck the null column with percentage. This time printing all columns with percentage more 0

In [27]:
for col in loan_df.columns:
    percentage = 100 * loan_df[col].isnull().mean()
    if percentage > 0:
        print(col, "\t:\t", percentage)

emp_title 	:	 6.191303472064859
emp_length 	:	 2.7066495455346575
desc 	:	 32.58050708764509
title 	:	 0.027695948838029054
revol_util 	:	 0.12589067653649572
last_pymnt_d 	:	 0.1787647606818239
last_credit_pull_d 	:	 0.0050356270614598285
collections_12_mths_ex_med 	:	 0.1409975577208752
chargeoff_within_12_mths 	:	 0.1409975577208752
pub_rec_bankruptcies 	:	 1.7549160309187504
tax_liens 	:	 0.09819472769846666

For  id
39717

For  member_id
39717

For  loan_amnt
885

For  funded_amnt
1041

For  funded_amnt_inv
8205

For  term
2

For  int_rate
371

For  installment
15383

For  grade
7

For  sub_grade
35

For  emp_title
28820

For  emp_length
11

For  home_ownership
5

For  annual_inc
5318

For  verification_status
3

For  issue_d
55

For  loan_status
3

For  pymnt_plan
1

For  url
39717

For  desc
26527

For  purpose
14

For  title
19615

For  zip_code
823

For  addr_state
50

For  dti
2868

For  delinq_2yrs
11

For  earliest_cr_line
526

For  inq_last_6mths
9

For  open_acc
40

For  pub_rec
5

For  revol_bal
21711

For  revol_util
1089

For  total_acc
82

For  initial_list_status
1

For  out_prncp
1137

For  out_prncp_inv
1138

For  total_pymnt
37850

For  total_pymnt_inv
37518

For  total_rec_prncp
7976

For  total_rec_int
35148

For  total_rec_late_fee
1356

For  recoveries
4040

For  collection_recovery_fee
2616

For  last_pymnt_d
101

For  last_pymnt_amnt
34930

For  last_credit_pull_d
106

For  collections_12_mths_ex_med
1

For  policy_code
1

For  application_type
1

For  acc_now_delinq
1

For  chargeoff_within_12_mths
1

For  delinq_amnt
1

For  pub_rec_bankruptcies
3

For  tax_liens
1

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

#### Find columns with just one unique value

In [64]:
# Find out how many unique values are available in each column to understand the categorisation possibility
columnsWithOneUniqueValue = []
for col in loan_df.columns:
    unique_count = loan_df[col].nunique()
    if unique_count == 1:
        columnsWithOneUniqueValue.append(col)
print(columnsWithOneUniqueValue)

[]

#### Some columns are having only one value so they won't be of any use to us as the value is not varying at all
Drop such columns from the table

In [31]:
loan_df = loan_df.drop(columnsWithOneUniqueValue, axis=1)
print(loan_df.shape)
loan_df.head()

(39717, 45)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

#### Understand the values in the columns

In [32]:
# Describe the values
loan_df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,pub_rec_bankruptcies
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39020.000000
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,9.294408,0.055065,13382.528086,22.088828,51.227887,50.989768,12153.596544,11567.149118,9793.348813,2263.663172,1.363015,95.221624,12.406112,2678.826162,0.043260
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,4.400282,0.237200,15885.016641,11.401709,375.172839,373.824457,9042.040766,8942.672613,7065.522127,2608.111964,7.289979,688.744771,148.671593,4447.136012,0.204324
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,6.000000,0.000000,3703.000000,13.000000,0.000000,0.000000,5576.930000,5112.310000,4600.000000,662.180000,0.000000,0.000000,0.000000,218.680000,0.000000
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,9.000000,0.000000,8850.000000,20.000000,0.000000,0.000000,9899.640319,9287.150000,8000.000000,1348.910000,0.000000,0.000000,0.000000,546.140000,0.000000
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,12.000000,0.000000,17058.000000,29.000000,0.000000,0.000000,16534.433040,15798.810000,13653.260000,2833.400000,0.000000,0.000000,0.000000,3293.160000,0.000000
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,44.000000,4.000000,149588.000000,90.000000,6311.470000,6307.370000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,2.000000

In [33]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  url                      39717 non-null  object
 18  desc                     26777 non-null  object
 19  purpose                  39717 non-null  object
 20  title                    39706 non-null  object
 21  zip_code                 39717 non-null  object
 22  addr_state               39717 non-null  object
 23  dti                      39717 non-null  float64
 24  delinq_2yrs              39717 non-null  int64
 25  earliest_cr_line         39717 non-null  object
 26  inq_last_6mths           39717 non-null  int64
 27  open_acc                 39717 non-null  int64
 28  pub_rec                  39717 non-null  int64
 29  revol_bal                39717 non-null  int64
 30  revol_util               39667 non-null  object
 31  total_acc                39717 non-null  int64
 32  out_prncp                39717 non-null  float64
 33  out_prncp_inv            39717 non-null  float64
 34  total_pymnt              39717 non-null  float64
 35  total_pymnt_inv          39717 non-null  float64
 36  total_rec_prncp          39717 non-null  float64
 37  total_rec_int            39717 non-null  float64
 38  total_rec_late_fee       39717 non-null  float64
 39  recoveries               39717 non-null  float64
 40  collection_recovery_fee  39717 non-null  float64
 41  last_pymnt_d             39646 non-null  object
 42  last_pymnt_amnt          39717 non-null  float64
 43  last_credit_pull_d       39715 non-null  object
 44  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(15), int64(10), object(20)
memory usage: 13.6+ MB

In [37]:
for col in loan_df.columns:
    print("\n", col, "\n", loan_df[col].value_counts())

 id
 1077501    1
568534     1
568659     1
567165     1
568531     1
          ..
785667     1
785659     1
785630     1
785626     1
87023      1
Name: id, Length: 39717, dtype: int64

 member_id
 1296599    1
731393     1
731544     1
729629     1
731390     1
          ..
989001     1
988993     1
988959     1
988954     1
86999      1
Name: member_id, Length: 39717, dtype: int64

 loan_amnt
 10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: loan_amnt, Length: 885, dtype: int64

 funded_amnt
 10000    2741
12000    2244
5000     2040
6000     1898
15000    1784
         ...
26250       1
24725       1
31750       1
22625       1
22350       1
Name: funded_amnt, Length: 1041, dtype: int64

 funded_amnt_inv
 5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
4944.213109        1
18400.281660       1
14659.820000       1
6294.151315        1
11808.924370       1
Name: funded_amnt_inv, Length: 8205, dtype: int64

 term
  36 months    29096
 60 months    10621
Name: term, dtype: int64

 int_rate
 10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: int_rate, Length: 371, dtype: int64

 installment
 311.11     68
180.96     59
311.02     54
150.80     48
368.45     46
           ..
1224.46     1
63.44       1
157.67      1
492.34      1
255.43      1
Name: installment, Length: 15383, dtype: int64

 grade
 B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64

 sub_grade
 B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64

 emp_title
 US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64

 emp_length
 10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64

 home_ownership
 RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64

 annual_inc
 60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
56820.0       1
45314.0       1
53913.0       1
62880.0       1
27376.0       1
Name: annual_inc, Length: 5318, dtype: int64

 verification_status
 Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64

 issue_d
 Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
          ...
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, Length: 55, dtype: int64

 loan_status
 Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

 url
 https://lendingclub.com/browse/loanDetail.action?loan_id=1077501    1
https://lendingclub.com/browse/loanDetail.action?loan_id=568534     1
https://lendingclub.com/browse/loanDetail.action?loan_id=568659     1
https://lendingclub.com/browse/loanDetail.action?loan_id=567165     1
https://lendingclub.com/browse/loanDetail.action?loan_id=568531     1
                                                                   ..
https://lendingclub.com/browse/loanDetail.action?loan_id=785667     1
https://lendingclub.com/browse/loanDetail.action?loan_id=785659     1
https://lendingclub.com/browse/loanDetail.action?loan_id=785630     1
https://lendingclub.com/browse/loanDetail.action?loan_id=785626     1
https://lendingclub.com/browse/loanDetail.action?loan_id=87023      1
Name: url, Length: 39717, dtype: int64

 desc
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              6
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3
credit card consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
  Borrower added on 05/13/11 > I have a very stable income and have &quot;NEVER&quot; been delinquent on any accounts. I am interested in consolidating my credit card accounts along with a personal loan for the benefit of paying one payment a month versus multiple. Thank you.<br/>                                                                                                                                                                                                                                                                                                                                                                                       1
  Borrower added on 05/13/11 > This loan is to partially finance a car. The payments will be very manageable for me.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
  Borrower added on 05/13/11 > I am consolidating my bills to make it cheaper on bills. I am up for a promotion at my job and have been here three years already. I also have a fiance that has a very reliable job who also helps with finances. My requirement is that all bills are paid on time if not early. This is to keep good standings with all businesses and keep a awesome credit score.<br/> Borrower added on 05/16/11 > I am asking for this loan to pay off bills with higher interest rates and have a lower payment every month.<br/>                                                                                                                        1
  Borrower added on 05/13/11 > Debt Consolidation<br/> Borrower added on 05/13/11 > I plan to use this money to consolidate bills with high monthly payments and improve cash flow.<br/> Borrower added on 05/13/11 > I have good credit and I have a very stable, solid and professional job that I have held for a long time - over 20 years.  I have a Bachelor's degree and I'm currently working on a masters.<br/> Borrower added on 05/13/11 > My mortgage and utilities run approx less than 2k per month including taxes.  I have sufficient income to pay off this loan. I simply want to take my open accounts and consolidate them into one easy payment.<br/>      1
I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Name: desc, Length: 26527, dtype: int64

 purpose
 debt_consolidation    18641
credit_card            5130
other                  3993
home_improvement       2976
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
house                   381
educational             325
renewable_energy        103
Name: purpose, dtype: int64

 title
 Debt Consolidation                  2184
Debt Consolidation Loan             1729
Personal Loan                        659
Consolidation                        517
debt consolidation                   505
                                    ...
your rate is better than my rate       1
Concession Trailer                     1
gregs                                  1
EZover                                 1
JAL Loan                               1
Name: title, Length: 19615, dtype: int64

 zip_code
 100xx    597
945xx    545
112xx    516
606xx    503
070xx    473
        ...
381xx      1
378xx      1
739xx      1
396xx      1
469xx      1
Name: zip_code, Length: 823, dtype: int64

 addr_state
 CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64

 dti
 0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
29.13      1
25.31      1
29.76      1
28.42      1
25.43      1
Name: dti, Length: 2868, dtype: int64

 delinq_2yrs
 0     35405
1      3303
2       687
3       220
4        62
5        22
6        10
7         4
8         2
9         1
11        1
Name: delinq_2yrs, dtype: int64

 earliest_cr_line
 Nov-98    370
Oct-99    366
Dec-98    348
Oct-00    346
Dec-97    329
         ...
Feb-66      1
Dec-61      1
Oct-54      1
Jun-72      1
Oct-74      1
Name: earliest_cr_line, Length: 526, dtype: int64

 inq_last_6mths
 0    19300
1    10971
2     5812
3     3048
4      326
5      146
6       64
7       35
8       15
Name: inq_last_6mths, dtype: int64

 open_acc
 7     4018
6     3946
8     3936
9     3718
10    3223
5     3183
11    2746
4     2343
12    2273
13    1911
3     1493
14    1487
15    1177
16     940
17     741
2      605
18     533
19     396
20     289
21     244
22     143
23      97
24      81
25      55
26      34
28      25
27      22
30      15
29      13
31       7
34       5
32       4
35       4
33       3
36       2
39       1
38       1
44       1
41       1
42       1
Name: open_acc, dtype: int64

 pub_rec
 0    37601
1     2056
2       51
3        7
4        2
Name: pub_rec, dtype: int64

 revol_bal
 0        994
298       14
255       14
1         12
682       11
        ...
21424      1
30747      1
23862      1
20197      1
85607      1
Name: revol_bal, Length: 21711, dtype: int64

 revol_util
 0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
25.74%      1
47.36%      1
24.65%      1
10.61%      1
7.28%       1
Name: revol_util, Length: 1089, dtype: int64

 total_acc
 16    1471
15    1462
17    1457
14    1445
20    1428
      ...
74       1
77       1
78       1
87       1
90       1
Name: total_acc, Length: 82, dtype: int64

 out_prncp
 0.00       38577
1972.60        2
827.13         2
2277.11        2
2963.24        2
           ...
782.23         1
2296.41        1
1928.85        1
1061.32        1
79.24          1
Name: out_prncp, Length: 1137, dtype: int64

 out_prncp_inv
 0.00       38577
1972.60        2
1664.64        2
827.13         2
1863.21        1
           ...
782.23         1
2289.14        1
1928.85        1
1061.32        1
79.24          1
Name: out_prncp_inv, Length: 1138, dtype: int64

 total_pymnt
 11196.569430    26
0.000000        16
11784.232230    16
10956.775960    16
5478.387981     15
                ..
17768.430010     1
12794.806580     1
6193.803706      1
34797.769170     1
9195.263334      1
Name: total_pymnt, Length: 37850, dtype: int64

 total_pymnt_inv
 0.00        165
6514.52      16
5478.39      14
13148.14     14
11196.57     12
           ...
17702.50      1
19026.06      1
7355.24       1
387.55        1
980.83        1
Name: total_pymnt_inv, Length: 37518, dtype: int64

 total_rec_prncp
 10000.00    2293
12000.00    1805
5000.00     1702
6000.00     1637
15000.00    1400
            ...
1097.81        1
1410.30        1
6968.65        1
3477.49        1
16077.42       1
Name: total_rec_prncp, Length: 7976, dtype: int64

 total_rec_int
 0.00       71
1196.57    26
514.52     19
956.78     17
1784.23    17
           ..
494.53      1
1119.88     1
62.31       1
2656.10     1
1695.26     1
Name: total_rec_int, Length: 35148, dtype: int64

 total_rec_late_fee
 0.000000     37671
15.000000      255
15.000000       58
30.000000       55
15.000000       47
             ...
35.286832        1
15.000000        1
14.777500        1
14.967774        1
19.890000        1
Name: total_rec_late_fee, Length: 1356, dtype: int64

 recoveries
 0.00       35499
11.29          4
10.40          4
10.66          3
44.92          3
           ...
764.69         1
653.08         1
1080.96        1
878.19         1
21.29          1
Name: recoveries, Length: 4040, dtype: int64

 collection_recovery_fee
 0.0000      35935
2.0000         12
1.2000         10
3.7100          9
1.8800          8
            ...
3.7900          1
773.4900        1
272.8250        1
1.7697          1
0.2300          1
Name: collection_recovery_fee, Length: 2616, dtype: int64

 last_pymnt_d
 May-16    1256
Mar-13    1026
Dec-14     945
May-13     907
Feb-13     869
          ...
Jun-08      10
Nov-08      10
Mar-08       5
Jan-08       4
Feb-08       1
Name: last_pymnt_d, Length: 101, dtype: int64

 last_pymnt_amnt
 0.00       74
276.06     21
200.00     17
50.00      16
100.00     15
           ..
1763.87     1
172.27      1
889.67      1
150.73      1
256.59      1
Name: last_pymnt_amnt, Length: 34930, dtype: int64

 last_credit_pull_d
 May-16    10308
Apr-16     2547
Mar-16     1123
Feb-13      843
Feb-16      736
          ...
May-08        1
Jun-08        1
Jul-08        1
May-07        1
Jul-07        1
Name: last_credit_pull_d, Length: 106, dtype: int64

 pub_rec_bankruptcies
 0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64

#### Segregating columns in categories
Dropping columns that will not help in analysis
- â€œidâ€, â€œmember_idâ€, â€œurlâ€, â€œdescâ€, â€œtitleâ€, â€œzip_codeâ€

In [39]:
extra_cols = ["id", "member_id", "url", "desc", "title", "zip_code"]
loan_df = loan_df.drop(extra_cols,axis=1)
print(loan_df.shape)

(39717, 39)

In [40]:
for col in loan_df.columns:
    print("\n", col, "\n", loan_df[col].value_counts())

 loan_amnt
 10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: loan_amnt, Length: 885, dtype: int64

 funded_amnt
 10000    2741
12000    2244
5000     2040
6000     1898
15000    1784
         ...
26250       1
24725       1
31750       1
22625       1
22350       1
Name: funded_amnt, Length: 1041, dtype: int64

 funded_amnt_inv
 5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
4944.213109        1
18400.281660       1
14659.820000       1
6294.151315        1
11808.924370       1
Name: funded_amnt_inv, Length: 8205, dtype: int64

 term
  36 months    29096
 60 months    10621
Name: term, dtype: int64

 int_rate
 10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: int_rate, Length: 371, dtype: int64

 installment
 311.11     68
180.96     59
311.02     54
150.80     48
368.45     46
           ..
1224.46     1
63.44       1
157.67      1
492.34      1
255.43      1
Name: installment, Length: 15383, dtype: int64

 grade
 B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64

 sub_grade
 B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64

 emp_title
 US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64

 emp_length
 10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64

 home_ownership
 RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64

 annual_inc
 60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
56820.0       1
45314.0       1
53913.0       1
62880.0       1
27376.0       1
Name: annual_inc, Length: 5318, dtype: int64

 verification_status
 Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64

 issue_d
 Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
          ...
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, Length: 55, dtype: int64

 loan_status
 Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

 purpose
 debt_consolidation    18641
credit_card            5130
other                  3993
home_improvement       2976
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
house                   381
educational             325
renewable_energy        103
Name: purpose, dtype: int64

 addr_state
 CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64

 dti
 0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
29.13      1
25.31      1
29.76      1
28.42      1
25.43      1
Name: dti, Length: 2868, dtype: int64

 delinq_2yrs
 0     35405
1      3303
2       687
3       220
4        62
5        22
6        10
7         4
8         2
9         1
11        1
Name: delinq_2yrs, dtype: int64

 earliest_cr_line
 Nov-98    370
Oct-99    366
Dec-98    348
Oct-00    346
Dec-97    329
         ...
Feb-66      1
Dec-61      1
Oct-54      1
Jun-72      1
Oct-74      1
Name: earliest_cr_line, Length: 526, dtype: int64

 inq_last_6mths
 0    19300
1    10971
2     5812
3     3048
4      326
5      146
6       64
7       35
8       15
Name: inq_last_6mths, dtype: int64

 open_acc
 7     4018
6     3946
8     3936
9     3718
10    3223
5     3183
11    2746
4     2343
12    2273
13    1911
3     1493
14    1487
15    1177
16     940
17     741
2      605
18     533
19     396
20     289
21     244
22     143
23      97
24      81
25      55
26      34
28      25
27      22
30      15
29      13
31       7
34       5
32       4
35       4
33       3
36       2
39       1
38       1
44       1
41       1
42       1
Name: open_acc, dtype: int64

 pub_rec
 0    37601
1     2056
2       51
3        7
4        2
Name: pub_rec, dtype: int64

 revol_bal
 0        994
298       14
255       14
1         12
682       11
        ...
21424      1
30747      1
23862      1
20197      1
85607      1
Name: revol_bal, Length: 21711, dtype: int64

 revol_util
 0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
25.74%      1
47.36%      1
24.65%      1
10.61%      1
7.28%       1
Name: revol_util, Length: 1089, dtype: int64

 total_acc
 16    1471
15    1462
17    1457
14    1445
20    1428
      ...
74       1
77       1
78       1
87       1
90       1
Name: total_acc, Length: 82, dtype: int64

 out_prncp
 0.00       38577
1972.60        2
827.13         2
2277.11        2
2963.24        2
           ...
782.23         1
2296.41        1
1928.85        1
1061.32        1
79.24          1
Name: out_prncp, Length: 1137, dtype: int64

 out_prncp_inv
 0.00       38577
1972.60        2
1664.64        2
827.13         2
1863.21        1
           ...
782.23         1
2289.14        1
1928.85        1
1061.32        1
79.24          1
Name: out_prncp_inv, Length: 1138, dtype: int64

 total_pymnt
 11196.569430    26
0.000000        16
11784.232230    16
10956.775960    16
5478.387981     15
                ..
17768.430010     1
12794.806580     1
6193.803706      1
34797.769170     1
9195.263334      1
Name: total_pymnt, Length: 37850, dtype: int64

 total_pymnt_inv
 0.00        165
6514.52      16
5478.39      14
13148.14     14
11196.57     12
           ...
17702.50      1
19026.06      1
7355.24       1
387.55        1
980.83        1
Name: total_pymnt_inv, Length: 37518, dtype: int64

 total_rec_prncp
 10000.00    2293
12000.00    1805
5000.00     1702
6000.00     1637
15000.00    1400
            ...
1097.81        1
1410.30        1
6968.65        1
3477.49        1
16077.42       1
Name: total_rec_prncp, Length: 7976, dtype: int64

 total_rec_int
 0.00       71
1196.57    26
514.52     19
956.78     17
1784.23    17
           ..
494.53      1
1119.88     1
62.31       1
2656.10     1
1695.26     1
Name: total_rec_int, Length: 35148, dtype: int64

 total_rec_late_fee
 0.000000     37671
15.000000      255
15.000000       58
30.000000       55
15.000000       47
             ...
35.286832        1
15.000000        1
14.777500        1
14.967774        1
19.890000        1
Name: total_rec_late_fee, Length: 1356, dtype: int64

 recoveries
 0.00       35499
11.29          4
10.40          4
10.66          3
44.92          3
           ...
764.69         1
653.08         1
1080.96        1
878.19         1
21.29          1
Name: recoveries, Length: 4040, dtype: int64

 collection_recovery_fee
 0.0000      35935
2.0000         12
1.2000         10
3.7100          9
1.8800          8
            ...
3.7900          1
773.4900        1
272.8250        1
1.7697          1
0.2300          1
Name: collection_recovery_fee, Length: 2616, dtype: int64

 last_pymnt_d
 May-16    1256
Mar-13    1026
Dec-14     945
May-13     907
Feb-13     869
          ...
Jun-08      10
Nov-08      10
Mar-08       5
Jan-08       4
Feb-08       1
Name: last_pymnt_d, Length: 101, dtype: int64

 last_pymnt_amnt
 0.00       74
276.06     21
200.00     17
50.00      16
100.00     15
           ..
1763.87     1
172.27      1
889.67      1
150.73      1
256.59      1
Name: last_pymnt_amnt, Length: 34930, dtype: int64

 last_credit_pull_d
 May-16    10308
Apr-16     2547
Mar-16     1123
Feb-13      843
Feb-16      736
          ...
May-08        1
Jun-08        1
Jul-08        1
May-07        1
Jul-07        1
Name: last_credit_pull_d, Length: 106, dtype: int64

 pub_rec_bankruptcies
 0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64

#### Segregating columns in categories

In [63]:
cat_cols = ["term", "int_rate", "grade", "sub_grade", "emp_length", 
            "home_ownership", "verification_status", "issue_d", "loan_status",
           "purpose", "addr_state", "delinq_2yrs", "inq_last_6mths", "open_acc",
           "pub_rec", "pub_rec_bankruptcies"]
# emp_title
other_columns = set(loan_df.columns.values) - set(cat_cols)
repeat_columns = ["funded_amnt_inv", "out_prncp_inv", "total_pymnt_inv"]
loan_df.shape

(39717, 39)

#### Dropping the repeat columns

In [67]:
loan_df = loan_df.drop(repeat_columns, axis=1)
loan_df.shape

(39717, 36)

In [68]:
loan_df.describe()

,loan_amnt,funded_amnt,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,pub_rec_bankruptcies
count,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39020.000000
mean,11219.443815,10947.713196,324.561922,6.896893e+04,13.315130,0.146512,0.869200,9.294408,0.055065,13382.528086,22.088828,51.227887,12153.596544,9793.348813,2263.663172,1.363015,95.221624,12.406112,2678.826162,0.043260
std,7456.670694,7187.238670,208.874874,6.379377e+04,6.678594,0.491812,1.070219,4.400282,0.237200,15885.016641,11.401709,375.172839,9042.040766,7065.522127,2608.111964,7.289979,688.744771,148.671593,4447.136012,0.204324
min,500.000000,500.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5500.000000,5400.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,6.000000,0.000000,3703.000000,13.000000,0.000000,5576.930000,4600.000000,662.180000,0.000000,0.000000,0.000000,218.680000,0.000000
50%,10000.000000,9600.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,9.000000,0.000000,8850.000000,20.000000,0.000000,9899.640319,8000.000000,1348.910000,0.000000,0.000000,0.000000,546.140000,0.000000
75%,15000.000000,15000.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,12.000000,0.000000,17058.000000,29.000000,0.000000,16534.433040,13653.260000,2833.400000,0.000000,0.000000,0.000000,3293.160000,0.000000
max,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,44.000000,4.000000,149588.000000,90.000000,6311.470000,58563.679930,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,2.000000

In [69]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  int64
 1   funded_amnt              39717 non-null  int64
 2   term                     39717 non-null  object
 3   int_rate                 39717 non-null  object
 4   installment              39717 non-null  float64
 5   grade                    39717 non-null  object
 6   sub_grade                39717 non-null  object
 7   emp_title                37258 non-null  object
 8   emp_length               38642 non-null  object
 9   home_ownership           39717 non-null  object
 10  annual_inc               39717 non-null  float64
 11  verification_status      39717 non-null  object
 12  issue_d                  39717 non-null  object
 13  loan_status              39717 non-null  object
 14  purpose                  39717 non-null  object
 15  addr_state               39717 non-null  object
 16  dti                      39717 non-null  float64
 17  delinq_2yrs              39717 non-null  int64
 18  earliest_cr_line         39717 non-null  object
 19  inq_last_6mths           39717 non-null  int64
 20  open_acc                 39717 non-null  int64
 21  pub_rec                  39717 non-null  int64
 22  revol_bal                39717 non-null  int64
 23  revol_util               39667 non-null  object
 24  total_acc                39717 non-null  int64
 25  out_prncp                39717 non-null  float64
 26  total_pymnt              39717 non-null  float64
 27  total_rec_prncp          39717 non-null  float64
 28  total_rec_int            39717 non-null  float64
 29  total_rec_late_fee       39717 non-null  float64
 30  recoveries               39717 non-null  float64
 31  collection_recovery_fee  39717 non-null  float64
 32  last_pymnt_d             39646 non-null  object
 33  last_pymnt_amnt          39717 non-null  float64
 34  last_credit_pull_d       39715 non-null  object
 35  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(12), int64(8), object(16)
memory usage: 10.9+ MB

#### Checking the number of null columns in each row

In [72]:
loan_df.isnull().sum(axis=1).sort_values()

19858    0
24770    0
24771    0
24772    0
24773    0
        ..
32545    3
28547    3
4714     3
14839    3
16719    3
Length: 39717, dtype: int64

#### Print the columns with null % more than 0

In [91]:
columnsWtihNullValues_second = []
for col in loan_df.columns:
    total_null_values = loan_df[col].isnull().sum()
    percentage = 100 * loan_df[col].isnull().mean()
    if percentage > 0:
        columnsWtihNullValues_second.append(col)
        print(col, "\t:\t", percentage, total_null_values)
        print(loan_df[col].mode()[0])
        print(loan_df[col].value_counts().head(1))
        print("---------------")

print(len(columnsWtihNullValues_second))

emp_title 	:	 6.191303472064859 2459
US Army
US Army    134
Name: emp_title, dtype: int64
---------------
emp_length 	:	 2.7066495455346575 1075
10+ years
10+ years    8879
Name: emp_length, dtype: int64
---------------
revol_util 	:	 0.12589067653649572 50
0%
0%    977
Name: revol_util, dtype: int64
---------------
last_pymnt_d 	:	 0.1787647606818239 71
May-16
May-16    1256
Name: last_pymnt_d, dtype: int64
---------------
last_credit_pull_d 	:	 0.0050356270614598285 2
May-16
May-16    10308
Name: last_credit_pull_d, dtype: int64
---------------
pub_rec_bankruptcies 	:	 1.7549160309187504 697
0.0
0.0    37339
Name: pub_rec_bankruptcies, dtype: int64
---------------
6

In [93]:
loan_df[columnsWtihNullValues_second].describe()

       pub_rec_bankruptcies
count          39020.000000
mean               0.043260
std                0.204324
min                0.000000
25%                0.000000
50%                0.000000
75%                0.000000
max                2.000000